NEXT_PUBLIC_SUPABASE_URL=https://oqfjlsmsthcuamkncpfb.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9xZmpsc21zdGhjdWFta25jcGZiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzcwNjY4ODUsImV4cCI6MjA5MjY0Mjg4NX0.nZhgtLFtHFMGJOENiFO9ZYTcjHRr5ZyVfeVNEpsFBcU
